<div class="chat-list-group">
    <div class="chat-item" *ngFor="let chat of chatPreviews" [routerLink]="['/chat', chat.type === 0 ? 'group' : 'single', chat.id]" routerLinkActive="active">
        <div class="chat-image"
            style="background-image: url(https://avatars0.githubusercontent.com/u/29818976?s=460&v=4)"></div>
        <div class="chat-details">
            <div class="chat-name">{{ chat.name }}</div>
            <div class="chat-last-msg">{{ chat.lastMessage }}</div>
        </div>
    </div>
</div>