@import './app/theme/colors.scss';
body {
    background-color: $background-color !important;
    background-image: url(/assets/images/testbg.jpg);
	background-size: cover;
	background-position: center;
	min-height: 100vh;
}

*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: rgba($background-color, 0.2);
}

*::-webkit-scrollbar
{
	width: 6px;
	background-color: rgba($background-color, 0.2);
}

*::-webkit-scrollbar-thumb
{
	background-color: $sidenav-color;
}

.pointer {
	cursor: pointer;
}