@import '../../theme/colors.scss';

#main-area {
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-flow: column;
    justify-content: stretch;
    height: 100vh;
    max-height: 100vh;

    #top-area {
        width: 100vw;
    }

    #mid-area {
        display: flex;
        width: 100vw;
        flex: 1;
        overflow: auto;

        #sidenav-area {
            position: relative;
            background-color: rgba($sidenav-color, 0.9);
            width: 300pt;
            min-height: 100%;
            overflow-y: auto;
        }
        
        #content-area {
            width: calc(100vw - 300pt);
            min-height: 100%;
        }
    }
}