<div id="chat-page">

    <div class="chat-header">
        <div class="chat-image"
            style="background-image: url(https://avatars0.githubusercontent.com/u/29818976?s=460&v=4)"></div>
        <div class="chat-details">
            <span class="chat-name">{{ chat?.name }}</span>
            <span class="chat-member">Ich, du, er, sie, es und wir</span>
        </div>

    </div>
    <div class="chat-msg-group">
        <div class="chat-msg-items">
            <div class="chat-msg-item" [class.own-msg]="msg?.id === 'kjsldkf'" *ngFor="let msg of messages">
                <div class="chat-content">
                    <div class="chat-autor">
                        MSDev
                    </div>
                    <div class="chat-msg">
                        {{ msg?.message }}
                        <br>
                        <small>{{ msg?.createdAt }}</small>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="chat-write">
        <div class="write-space">
            <div class="text-area" contenteditable="true" placeholder="Schreib etwas..." (keydown.enter)="sendMessage($event);"></div>
        </div>
    </div>


</div>