<form class="panel-content" [formGroup]="signUpForm">
    <h1>Registrieren</h1>
    <div class="form-group">
        <label class="col-form-label" for="inputDefault">Benutzername</label>
        <input type="text" class="form-control" placeholder="Benutzername" formControlName="username">
    </div>
    <div *ngFor="let msg of msgBoxes">
        <div class="alert"
        *ngIf="msg.location == 0"
        [class.alert-warning]="msg.type == 1"
        [class.alert-info]="msg.type == 0"
        [class.alert-danger]="msg.type == 2" >{{ msg.msg }}</div>
    </div>
    <div class="form-group">
        <label class="col-form-label" for="inputDefault">E-Mail</label>
        <input type="email" class="form-control" placeholder="E-Mail" formControlName="email">
    </div>
    <div *ngFor="let msg of msgBoxes">
        <div class="alert"
        *ngIf="msg.location == 1"
        [class.alert-warning]="msg.type == 1"
        [class.alert-info]="msg.type == 0"
        [class.alert-danger]="msg.type == 2" >{{ msg.msg }}</div>
    </div>
    <div class="form-group">
        <label class="col-form-label" for="inputDefault">Passwort</label>
        <input type="password" class="form-control" placeholder="Passwort" formControlName="password">
    </div>
    <div *ngFor="let msg of msgBoxes">
        <div class="alert"
        *ngIf="msg.location == 2"
        [class.alert-warning]="msg.type == 1"
        [class.alert-info]="msg.type == 0"
        [class.alert-danger]="msg.type == 2" >{{ msg.msg }}</div>
    </div>
    <div class="form-group">
        <label class="col-form-label" for="inputDefault">Passwort wiederholen</label>
        <input type="password" class="form-control" placeholder="Passwort wiederholen" formControlName="passwordRepeat">
    </div>
    <div *ngFor="let msg of msgBoxes">
        <div class="alert"
        *ngIf="msg.location == 3"
        [class.alert-warning]="msg.type == 1"
        [class.alert-info]="msg.type == 0"
        [class.alert-danger]="msg.type == 2" >{{ msg.msg }}</div>
    </div>
    <div class="sign-action-buttons">
        <button type="submit" class="btn btn-primary" [disabled]="msgBoxes.length > 0" (click)="register()">Registrieren</button>
        <button type="button" class="btn btn-info" [routerLink]="['/sign/in']">Anmelden</button>
    </div>
</form>