<div id="main-area">
  <div id="top-area">
    <app-nav-bar></app-nav-bar>
  </div>
  <div id="mid-area">
    <div id="sidenav-area">
      <div class="chat-list-group">
        <div class="chat-item" *ngFor="let item of [1,2,3,4]">
          <div class="chat-image"
            style="background-image: url(https://avatars0.githubusercontent.com/u/29818976?s=460&v=4)"></div>
          <div class="chat-details">
            <div class="chat-name">Name der Gruppe</div>
            <div class="chat-last-msg">Die letzte Nachricht...</div>
          </div>
        </div>
      </div>
    </div>
    <div id="content-area">

      <app-chat-page></app-chat-page>
      <router-outlet></router-outlet>
    </div>
  </div>

</div>